.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: var(--space-xl);
}

.app-header__brand {
  transform: translateX(-28px);
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.app-header__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 135px;
  height: 135px;

  border: none;
  background: transparent;
}

.app-header__logo {
  display: block;

  width: 120%;
  height: 120%;

  object-fit: contain;
}

.app-header__text h1 {
  margin: 0;
  font-size: 44px;
  font-weight: 700;
}

.app-header__text span {
  color: var(--color-primary);
}

.app-header__text p {
  margin: 8px 0 0;

  color: var(--color-text-muted);
}

.app-header__project {
  text-align: right;
}

.app-header__project h2 {
  margin: 0;

  font-size: 20px;
}

.app-header__project span {
  color: var(--color-primary);

  letter-spacing: 2px;

  text-transform: uppercase;
}
